span {
    display: inline-block;
}

body {
    text-align: center;
}

.lebanon {
   height:100px;
   width: 100px;
}

.kittens, .puppy,  .bear,  .Lebanon {
    border: solid 2px black;
    padding: 10px; 
    margin: 10px;
}